body {
    background-color: #a4b69e;
}
.main {
    text-align: center;
}
.main div {
    display: inline-block;
    background-color: #90a689;
    height: 750px;
    width: 600px;
    margin: 5px;
    border-radius: 10px;
}
.img {
    
    width: 450px;
    height: 500px;
    margin: 10px;
    margin-bottom: 5px;
}
.text {
    margin: 2px;
}
.main div {
    color: #333333;
}