body {
    background-color: rgb(43, 68, 35);;
}
.main {
    text-align: center;
}
.main div {
    display: inline-block;
    background-color: rgb(31, 48, 25);
    height: 550px;
    width: 400px;
    margin: 5px;
    border-radius: 10px;
}
.img {
    width: 350px;
    height: 400px;
    margin: 10px;
    margin-bottom: 5px;
}
.text {
    margin: 2px;
}