body  {
    
    background-color: #A4B69E; 

    
}
.img {
    height: 600px;
    width: 500px;
}
h3 {
    color: #333333;
}
h1 {
    margin-left: 20px;
}
h2 {
    margin-left: 20px;
}
ul li {
    color: #333333;
}