body {
    background-color: #A4B69E;
    height: 900px;
}

.style {
    text-align: center;
    color: #333333;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}
.row form input {
    margin-top: 10px;
}
.in {
    position: relative;
}
.name {
    position: absolute;
    margin-left: 700px;
    top: 200px;
}
nav {
    width: 100%;
    margin: 0 auto;
}
nav::before {
    content: '';
    display: block;
    height: 50px;
    width: 100%;
    background-color: #A4B69E;
    position: absolute;
    left: 0;
    z-index: -1;
}

ul li {
    margin-left: 50px;
    float: left;
    list-style-type: none;
}
ul li a {
    text-decoration: none;
    display: block;
    color: #333333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    font-size: 30px;
}
.main_slider div {
    display: inline-block;
}
.switch {
    height: 600px;
    width: 90px;
    background-color: rgb(68, 68, 68);
    opacity: 0.5;
    align-items: center;
    transition: all 0.3s ease;
}
.switch:hover {
    opacity: 0.8;
}
.slider_img {
    background-color: black;
    height: 600px;
    width: 600px;
}
.slider_img img {
    
    height: 600px;
    width: 600px;
}
