body {
    background-color: #a4b69e;
}
.title {
    text-align: center;
}
.main {
    text-align: center;
}
.main div {
    border-radius: 10px;
    display: inline-block;
    
    height: 650px;
    width: 500px;
    margin-left: 1%;
    margin-bottom: 1%;
    background-color: #90a689;
}
.img img {
    margin: 25px;
    height: 450px;
    width: 450px;
}
.img h1 {
    color: #333333;
    text-align: center;
}
.txt {
    color: #333333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}