<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='catalog.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div>
            <img class="img" type="" src="../static/img/{{one}}.jpg" alt="">
            <p class="text">{{name1}}</p>
            <h1>{{price_one}}</h1>
        </div>
        <div>
            <img class="img" type="" src="../static/img/{{two}}.jpg" alt="">
            <p class="text">{{name2}}</p>
            <h1>{{price_two}}</h1>
        </div>
    </div>
</body>
</html>