<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='id.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img class="img" type="image/jpg" src="../static/img/{{img}}.jpg" alt="">
    <h1>{{name}}</h1>
    <ul>
        <li><h3>type: {{type}}  </h3></li>
        <li><h3>style: {{style}} </h3></li>
        <li><h3>material: {{material}}</h3></li>
        <li><h3>size: {{size}}</h3></li>
        <li><h3>origin: {{origin}}</h3></li>
        <li><h3>gender: {{gender}}</h3></li>
    </ul>
    <h2>{{price}}</h2>

    <input class="but" type="button" name="" id="">
    
</body>
</html>