<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='types.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="title txt">Типы одежды</h1>
    <div class="main">
        <div class="img" onclick="location.href='{{style}}/sweater'">
            <img type="image/jpg" src="{{url_for('static', filename='types/sweater.jpg')}}" alt="">
            <h1 class="txt">Свитеры</h1>
        </div>
        <div class="img" onclick="location.href='{{style}}/blouse'">
            <img type="image/jpg" src="{{url_for('static', filename='types/blouse.jpg')}}" alt="">
            <h1 class="txt">Кофты</h1>
        </div>
    </div>
    <div class="main">
        <div class="img" onclick="location.href='{{style}}/dress'">
            <img type="image/jpg" src="{{url_for('static', filename='types/dress.jpg')}}" alt="">
            <h1 class="txt">Платья</h1>
        </div>
        <div class="img" onclick="location.href='{{style}}/skirt'">
            <img class="txt" type="image/jpg" src="{{url_for('static', filename='types/skirt.jpg')}}" alt="">
            <h1 class="txt">Юбки</h1>
        </div>
    </div>
    
</body>
</html>